body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

h1, h2{
    font-family: 'Shadows Into Light', cursive;
}

header{
    background: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.navbar-light .navbar-nav .nav-link{
   color: #FFF;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #42CEC9;
}

.navbar-light .navbar-brand{
    font-family: 'Shadows Into Light', cursive;
    color: #FFF;
    font-size: 40px;
}
.hour-forecast img {
    width: 100px;
    height: 100px;
}

.btn-primary {
    color: #fff;
    background-color: #42CEC9;
    border-color: #42CEC9;
    text-transform: uppercase;
    border-radius: 0;
}

.btn-primary:hover{
    background-color: #1C7E7A;
    border-color: #1C7E7A;
} 

button#locationIcon{
    background-color: #42CEC9;
    border-color: #42CEC9;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

button#locationIcon i.fas{
    color: #FFF;
    font-size: 40px;
}

.dropdown-input-language {
    float: left;
    margin: 7px;
    background-color: lightgray;
}

.dropdown-output-language {
    float: left;
    margin: 7px;
    background-color: lightgrey;
}

#convert {
    color: #fff;
    background-color: #42CEC9;
    border-color: #42CEC9;
    text-transform: uppercase;
    border-radius: 0;
}

#convert:hover {
    background-color: #1C7E7A;
    border-color: #1C7E7A;
}

#currSwitch {
    color: #fff;
    border-radius: 0;
    background-color: #6c757d;
    border-color: #6c757d;
    text-transform: uppercase;
}

#currSwitch:hover {
    background-color: #353b41;
    border-color: #30353a;
}

#currencyformal {
    flex: auto;
}

.currencyformal #baseCurrency, #toCurrency {
    margin: 5px;
}

#baseCurrency, #toCurrency {
    background: rgba(224, 222, 204, 0.623);
}